@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset CSS */

*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

/* Container Width && Font */

.container {
	font-family: 'Roboto', sans-serif;
	width: 1280px;
	margin: 0 auto;
}

/* -------- Header Logo Start --------- */

.logo-container {
	margin-bottom: 40px;
}

.logo {
	font-size: 80px;
	line-height: 94px;
	color: #000;
}
.logo-color {
	color: #4BCAFF
}

/* --------- Header Logo END ------- */

/* --------- Header Nav Start ------------ */

.header-container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}

.nav-wrap {
	flex: 1 1;
	min-width: 100px;
	min-height: 70px;
	background-color: #35444F;
}

.nav-wrap:hover {
	background-color: #222F3A;
}

.top-nav-main {
	background-color: #35444F;
}

.nav-button {
	flex: 1 1;
	min-height: 70px;
	min-width: 100px;
	background-color: #35444F;
}

.nav-button:hover {
	background-color: #222F3A;
}

.main-menu {
	align-items: center;
	display: flex;
	padding: 0;
	margin: 0;
}

.main-menu-item {
	list-style: none;
	font-size: 24px;
	line-height: 28px;
	color: #FFF;
	border-left: 1px solid #FFF;
	padding: 24px 32px 18px 32px;
}

.main-menu-item:last-child {
	border-right: 1px solid #FFF;
}

.main-menu-item:hover {
	background-color: #222F3A;
}

/* --------- Header Nav END ------- */

/* --------- Main Content Start --------- */

.main {
	display: flex;
	margin-top: 48px;
}

.sidebar {
	align-self: flex-start;
	margin-right: 52px;
	min-width: 348px;
	border: 1px solid #000;
}
.sidebar-list {
	padding: 0;
	margin: 0;
}
.sidebar-item {
	font-size: 27px;
	line-height: 27px;
	padding: 25px 0px 25px 44px;
	transition: padding-left 2s;
	transition-delay: 0.3ms;
}
.sidebar-item a {
	color: #485863;
}
.sidebar-item:hover {
	padding-left: 65px;
	color: #000;
	background-color: #DBDBDB;
}

ul {
	list-style: none;
}
.image-wrapper {
	display: flex;
	align-items: center;
	text-align: center;
	border: 1px solid #000;
	min-height: 529px;
}
.image-container {
	flex: 1 1;
}

.text-italic {
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
	color: #2C2C2C;
	margin-top: 37px;
}

.text-normal {
	font-size: 18px;
	line-height: 24px;
	color: #2C2C2C;
	margin: 34px 0px 50px 0px;

}

/* ------------ Main Content END --------- */

/* --------------- Footer Start -------------- */

.footer-wrapper {
	align-items: center;
	display: flex;
	padding-left: 20px;
	margin: 0;
	background-color: #63696E7A;
	margin-bottom: 30px;
}



.footer-nav-list {
	align-items: center;
	display: flex;
	padding-left: 20px;
	margin-right: auto;
}

.footer-nav-item {
	font-size: 28px;
	line-height: 28px;
	margin-right: 20px;
	color: #0C1927;
}
.footer-nav-item a {
	color: #0C1927;
	
}
.footer-nav-item:hover a {
	color: #3181A6;
	padding-bottom: 10px;
	border-bottom: 1px solid #3181A6;
}

.footer-nav-legal {
	font-size: 24px;
	line-height: 24px;
	/* background-color: #63696E7A; */
	min-height: 69px;
	padding: 0px 40px 0px 0px;
	display: flex;
	align-items: center;
}


/* ----------------- Footer END ----------- */